.title {
    margin-top: 0px;
    text-align: center;
  }
  
  .card-discription {
    font-size: 10px;
    text-align: center;
    margin-top: 0px;
  }
  
  .learn-more {
    text-align: center;
    color: #e9d0b5;
    text-decoration-line: underline;
  }
  
  .card-image {
    height: 40px;
    width: 40px;
    margin-top: 5px;
  }
  
  .card-container {
    background-color: #ffffff;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }